header {
    background-color:#2A4D6F;
    padding: 20px;
    text-align: center;
}

h1 {
    color: white;
    margin: 0;
}

nav {
    background-color: #333;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    transition: color 0.3s;
}

nav a:hover {
    color: #4CAF50;
}

main {
    padding: 20px;
}

.contenedor {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 20px;
    background-color: white;
}

.texto-principal {
    color: #333;
    font-size: 18px;
    text-align: justify;
}

.texto-secundario {
    color: #666;
    font-size: 16px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}